# Cloudflare Pages / Git
.DS_Store
Thumbs.db
release/*
!release/.gitkeep

# Ignore large binary folders for Git
*.zip
*.exe
*.pdf
.reports/
.workforce-output/
.wrangler/
node_modules/
deploy/.wrangler/
deploy/node_modules/
